body{
	font-family: 'Josefin Sans', sans-serif;
	margin: 10px 10px 10px 10px;
	background-color: #E0ECF8;
	color: #000000;
}

h2{
	color: #4000FF; 
}

th{
	background-color:#D8D8D8; 
	color: #000000;
	height: 100px;
	font-size: 30px;
}

td{
	background-color:white; 
	color: black;
	height: 50px;
}

#objetivos{
	clear: both
}
#titulo{
	color: #FF0080; 
	font-size: 20px;
	text-align: center;
}	

#datos{
	background-color: #E6E6E6; 
	color: #000000; 
	padding: 10px;
	margin: 20px 20px 20px 20px; 
	display: block;
}

#principal{
	height: 200px;
	float: left;		
}

p{
	color: #2E2E2E;
}

.subtitulo{
	style="color: #0B0B3B;
}

.letra-chica{
	font-size: 14px;
}
