@import url(https://fonts.googleapis.com/css?family=Comfortaa);

body{
	font-family: Verdana, Arial;
	background-color: gray;
	color: white;
}

h1{
	font-family: "Comfortaa",Verdana, Arial;
	font-style: oblique;
	color: #084B8A;
	text-align: center;
}

h2{
	font-family: "Comfortaa",Verdana, Arial;
	font-style: normal;
	font-weight: 200px;
	text-align: center;
}
div{
	height: 0%;
	margin: 0px;
	width: 20%;
	height: 10%;
	text-align: left;
	background-color: #01DFD7;
	padding: 1%;
	float: left;
}

p{
	color: white;
}

img{
	width: 15%;
	height: 15%;
}

div + div {
	background-color: black;
}
div ~ div {
	background-color: orange;
}

#p1:hover{
	background-color: white;
}